body {
    width:100%;
    margin:0px;
    background-color:black;
}

.menu {
    width:100%;
    color:white;
    height:10px;
    border:solid;
    transition:2s;
    background-color:black;
    
}

